{% extends "pageMaster.twig" %}
{% block style_base %}
    <link rel="stylesheet" href="{{ 'template/css/bootstrap.min.css'|baseUrl}}" />
    <link rel="stylesheet" href="{{ 'plugins/font-awesome/css/font-awesome.min.css'|baseUrl}}" />
    <!-- jquery-ui -->
    <link rel="stylesheet" href="{{ 'plugins/jquery-ui/jquery-ui.min.css'|baseUrl}}" />
    <!-- JS Base -->
    <script type="text/javascript" src="{{ 'template/jquery/jquery-3.2.1.min.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'template/gears.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'template/load.js'|baseUrl}}"></script>
    <!-- text fonts -->
    <link rel="stylesheet" href="{{ 'template/css/fonts.googleapis.com.css'|baseUrl}}" />
{% endblock %}
{% block body %}
    <body class="login-layout">

        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                <h1>
                                    <i class="ace-icon fa fa-level-up green"></i>
                                    <span id="baseRoot" root="{{ ''|baseUrl }}" class="red">Caliper</span>
                                    <span class="dark" id="id-text2">Calibracion</span>
                                </h1>
                            </div>
                            <div class="space-6"></div>
                            <div class="position-relative">
                                <div class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h5 class="header blue2 lighter bigger">
                                                <i class="ace-icon fa fa-coffee green"></i>
                                                Ingrese sus credenciales para acceder al sistema
                                            </h5>

                                            <div class="space-6"></div>
                                            <form id="Login" method="POST" name="Login" action="#"  autocomplete="off">
                                                <fieldset>
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input type="text" id="codeUser" name="codeUser" class="{required:true} form-control" autocomplete="off" placeholder="Codigo Usuario" onkeypress="return gearsPage.SoloNumeros(event)"/>
                                                            <i class="ace-icon fa fa-user"></i>
                                                        </span>
                                                    </label>
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input type="password" id="usPasswd" name="usPasswd" class="{required:true} form-control" autocomplete="off" placeholder="Clave Acceso"/>
                                                            <i class="ace-icon fa fa-lock"></i>
                                                        </span>
                                                    </label>
                                                    <div class="space"></div>
                                                    <div class="clearfix">
                                                        <button type="submit" class="width-35 pull-right btn btn-sm btn-success">
                                                            <i class="ace-icon fa fa-key"></i>
                                                            <span class="bigger-110">Iniciar</span>
                                                        </button>
                                                    </div>
                                                    <div class="space-4"></div>
                                                </fieldset>
                                            </form>
                                            <div class="space-6"></div>
                                            <div id="datos"></div>
                                        </div><!-- /.widget-main -->
                                    </div><!-- /.widget-body -->
                                </div><!-- /.login-box -->
                            </div><!-- /.position-relative -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container -->
        {% block js_base %}
            <!-- jQuery UI -->
            <script type="text/javascript" src="{{ 'plugins/jquery-ui/jquery-ui.min.js'|baseUrl}}"></script>
            <script type="text/javascript" src="{{ 'template/jquery/jquery.ui.touch-punch.min.js'|baseUrl}}"></script>
            <!-- Bootstrap  -->
            <script type="text/javascript" src="{{ 'template/jquery/bootstrap.min.js'|baseUrl}}"></script>
        {% endblock %}

        {% block js_custom %}
            <!-- Validate --> 
            <script type="text/javascript" src="{{ 'plugins/jquery-validate/dist/jquery.validate.min.js'|baseUrl}}"></script>
            <script type="text/javascript" src="{{ 'plugins/jquery-validate/lib/jquery.metadata.js'|baseUrl}}"></script>
            <script type="text/javascript" src="{{ 'plugins/jquery-validate/localization/messages_es.js'|baseUrl}}"></script> 

            <!-- Custom -->
            <script src="{{ 'application/scripts/pageLogin.js'|baseUrl}} "type="text/javascript"></script>
        {% endblock %}
    </body>
{% endblock %}