{% extends "pageMaster.twig" %}
{% block style_plugin %}

{% endblock %}

{# 

{% set codigo = (cliente)?(['value="', cliente.Codigo,'"']|join) :''  %} 
{% set tipo = (actividad and actividad.IdTipo==tipos.Codigo)?'selected="selected"':'' %}

#}

{% block content %}
    <div class="page-content">
        
    </div><!-- /.page-content -->
{% endblock %}
{# <img id="AccionLoad" class="hide" src="{{'template/loaders/bar120.gif'|baseUrl}}">  #}
{% block js_custom %}
    <script type="text/javascript" src="{{'template/jquery/jquery.dataTables.bootstrap.min.js'|baseUrl}}"></script>
    <!-- Validate --> 
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/dist/jquery.validate.min.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/lib/jquery.metadata.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/localization/messages_es.js'|baseUrl}}"></script> 
    <!-- Custom -->
    <script type="text/javascript" src="{{'application/scripts/perfil.js'|baseUrl}}"></script>
{% endblock %}