{% extends "pageMaster.twig" %}
{% block style_plugin %}
    <!-- Select2 --> 
    <link rel="stylesheet" href="{{ 'plugins/select2/select2.min.css'|baseUrl}}" />
{% endblock %}
{% block content %}
    <div class="page-content">

        <div class="col-xs-12 col-sm-6 widget-container-col ">
            <form id="registrarEquipo" name="registrarEquipo" method="POST"  autocomplete="off">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header">
                        <h5 class="widget-title">Opciones Equipos</h5>
                        <div class="widget-toolbar">
                            <a href="#" id="restablecerBusqueda" ><i class="ace-icon fa fa-refresh"></i></a>
                        </div>
                    </div>      
                    <div class="widget-body">
                        <div class="widget-main">
                            {% set codigo = (equipo)?(['value="', equipo.codigo,'"']|join) :'value=""'  %}
                            <div class="form-horizontal"> 
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">
                                        <label class="label label-primary">Tipo:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span></span>
                                        <select id="IdTipoEquipo" name="IdTipoEquipo" class="{required:true} form-control">
                                            {% if listaTipos %}
                                                <option value=""> - Selecione Uno - </option>
                                                {%for tipos in listaTipos%}
                                                    <option value="{{tipos.id}}" >{{tipos.nombre}}</option>
                                                {%endfor%}
                                            {% else %}
                                                <option value=""></option>
                                            {% endif %}
                                        </select> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">
                                        <label class="label label-primary">Marca:</label>
                                    </div>
                                    <div id="selectMarca" class="col-sm-5">
                                        <span></span>
                                        <select id="CodMarca" name="CodMarca" class="{required:true} form-control">
                                            {% if listaMarcas %}
                                                <option value=""> - Selecione Uno - </option>
                                                {%for marcas in listaMarcas%}
                                                    <option value="{{marcas.codigo}}" >{{marcas.nombre}}</option>
                                                {%endfor%}
                                            {% else %}
                                                <option value=""></option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">
                                        <label class="label label-primary">Modelo:</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <span></span>
                                        <input type="text" id="Modelo" onkeyup="this.value = this.value.toUpperCase()" name="Modelo" placeholder="Modelo" class="{required:true,minlength:1,messages:{required:'* Favor digite un Modelo'}} form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">
                                        <label class="label label-primary">Serie:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span></span>
                                        <input type="text" id="Serie" name="Serie" placeholder="Serie" maxlength="200" class="{required:true,minlength:1} form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-toolbox padding-8 clearfix">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <button id="btnVolver" type="button" class="btn btn-default">Volver</button> 
                            </div>
                        </div>
                        <img id="AccionLoad" class="hide" src="{{'template/images/loaders/bar120.gif'|baseUrl}}">
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.page-content -->
{% endblock %}
{% block js_custom %}
    <!-- Select2 --> 
    <script type="text/javascript" src="{{ 'plugins/select2/select2.min.js'|baseUrl}}"></script>
    <!-- Validate --> 
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/dist/jquery.validate.min.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/lib/jquery.metadata.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/localization/messages_es.js'|baseUrl}}"></script> 
    <!-- Custom -->
    <script type="text/javascript" src="{{'application/scripts/equipos/form.js'|baseUrl}}"></script>
{% endblock %}