{% extends "pageMaster.twig" %}
{% block style_plugin %}
    <!-- Select2 --> 
    <link rel="stylesheet" href="{{ 'plugins/select2/select2.min.css'|baseUrl}}" />
{% endblock %}
{% block content %}
    <div class="page-content">

        <div class="col-xs-12 col-sm-6 widget-container-col ">
            <form id="crearequipo" method="POST" name="crearequipo" autocomplete="off">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header">
                        <h5 class="widget-title">Opciones Equipos</h5>
                        <div class="widget-toolbar">
                            <a href="#" id="restablecerBusqueda" ><i class="ace-icon fa fa-refresh"></i></a>
                        </div>
                    </div>      
                    <div class="widget-body">
                        {% set codigo = (patron)?(['value="', patron.codigo,'"']|join) :'value=""'  %}
                        <input type="hidden" name="Codigo" id="Codigo" {{codigo|raw}}/>
                        <div class="widget-main">
                            <div class="form-horizontal"> 
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">
                                        <span class="label label-primary">Equipo:</span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span></span>
                                        <textarea id="Nombre" name="Nombre" placeholder="Nombre Patron" onkeyup="this.value=this.value.toUpperCase()" class="{required:true,minlength:3} form-control" rows="2" style="resize: none"  {{patron?'readonly':''}}>{{patron?patron.nombre:''}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">
                                        <label class="label label-primary">Marca:</label>
                                    </div>
                                    <div id="selectMarca" class="col-sm-5">
                                        <span></span>
                                        <select id="CodMarca" name="CodMarca" class="{required:true} form-control" {{patron?'disabled':''}}>
                                            {% if listaMarcas %}
                                                <option value=""> - Selecione Uno - </option>
                                                {%for marcas in listaMarcas%}
                                                    {% set marca = (patron and patron.id_marca==marcas.codigo)?'selected="selected"':'' %}
                                                    <option value="{{marcas.codigo}}" {{marca}} >{{marcas.nombre}}</option>
                                                {%endfor%}
                                            {% else %}
                                                <option value=""></option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">
                                        <label class="label label-primary">Modelo:</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <span></span>
                                        {% set modelo = (patron)?(['value="', patron.modelo,'" readonly']|join) :'value=""'  %}
                                        <input type="text" id="Modelo" onkeyup="this.value = this.value.toUpperCase()" name="Modelo" placeholder="Modelo" class="{required:true,minlength:1,messages:{required:'* Favor digite un Modelo'}} form-control" {{modelo|raw}} />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">
                                        <span class="label label-primary">Serie:</span>
                                    </div>
                                    <div class="col-sm-5">
                                        <span></span>
                                        {% set serie = (patron)?(['value="', patron.serie,'" readonly']|join) :'value=""'  %}
                                        <input type="text"  id="noSerie" name="noSerie"  placeholder="noSerie"  class="{required:true,messages:{required:'* Favor digite La la Serie del Equipo'}} form-control" {{serie|raw}}/> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-toolbox padding-8 clearfix">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <button id="btnVolver" type="button" class="btn btn-default">Volver</button> 
                            </div>
                        </div>
                        <img id="AccionLoad" class="hide" src="{{'template/images/loaders/bar120.gif'|baseUrl}}">
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.page-content -->
{% endblock %}
{% block js_custom %}
    <!-- Select2 --> 
    <script type="text/javascript" src="{{ 'plugins/select2/select2.min.js'|baseUrl}}"></script>
    <!-- Validate --> 
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/dist/jquery.validate.min.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/lib/jquery.metadata.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/localization/messages_es.js'|baseUrl}}"></script> 
    <!-- Custom -->
    <script type="text/javascript" src="{{'application/scripts/patrones/form.js'|baseUrl}}"></script>
{% endblock %}