{% extends "pageMaster.twig" %}
{% block style_plugin %}
    <!-- Select2 --> 
    <link rel="stylesheet" href="{{ 'plugins/select2/select2.min.css'|baseUrl}}" />
{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="row">
            <div id="datosInfo"></div>
            <div class=" col-xs-12 col-sm-10">
                <div class="info-box">
                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text"><b>Parametros</b></span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                            Aqui se muentran los parametros usados por los equipos al momento de calibrar
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-xs-12 col-sm-7 widget-container-col">
                <div class="widget-box widget-color-green2">
                    <div class="widget-header">
                        <h5 class="widget-title">Equipos Patrones</h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="pull-left">
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false">
                                            Opciones <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-success">  
                                            <li><a id="Nuevo" ><i class="fa fa-plus"></i> Registrar </a></li>
                                            <li><a id="Editar"><i class="fa fa-edit"></i> Actualizar</a></li>  
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">
                                            Mas <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-success">  
                                            <li><a id="opCalibracion" ><i class="fa fa-calendar-check-o"></i> Calibracion </a></li>
                                            <li><a id="opParams"><i class="fa fa-rocket"></i> Parametros </a></li>  
                                        </ul>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="btn-group mr10">
                                        <button class="btn btn-white btn-info btn-sm" id="verInfo" type="button"><i class="fa fa-info"></i></button>  
                                        <button class="btn btn-white btn-info btn-sm" id="verParam" type="button"><i class="fa fa-rocket"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table id="listaEquipos" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Cod</th>
                                            <th>Equipo</th>
                                            <th>Serie</th>
                                        </tr>
                                    </thead> 
                                    <tbody>
                                    {%if listPatrones %}
                                        {%for patrones in listPatrones %}
                                            <tr>
                                                <td class="center" style="width: 100px"><span data="{{patrones.codigo}}">{{patrones.codigo}}</span></td>
                                                <td>{{patrones.descripcion}}</td>
                                                <td>{{patrones.serie}}</td>
                                            </tr>
                                        {%endfor%}
                                    {%endif %}

                                </tbody>
                                </table>
                            </div>
                            <div id="infoModal1" style="display: none;background-color: rgba(255, 255, 255, 0.219608);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.page-content -->
{% endblock %}
{% block js_custom %}
    <!-- Select2 --> 
    <script type="text/javascript" src="{{ 'plugins/select2/select2.min.js'|baseUrl}}"></script>
    <!-- DataTables -->
    <script type="text/javascript" src="{{'template/jquery/jquery.dataTables.min.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{'template/jquery/jquery.dataTables.bootstrap.min.js'|baseUrl}}"></script> 
    <!-- Custom -->
    <script type="text/javascript" src="{{'application/scripts/patrones/listado.js'|baseUrl}}"></script>
{% endblock %}