{% extends "pageMaster.twig" %}
{% block style_plugin %}
    <!-- Select2 --> 
    <link rel="stylesheet" href="{{ 'plugins/select2/select2.min.css'|baseUrl}}" />
{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="row">
            <div id="datosInfo"></div>
            <form id="asignarParametro" name="asignarParametro" method="POST" autocomplete="off">
                <div class="col-xs-12 col-sm-5 widget-container-col">
                    <div class="widget-box widget-color-blue2">
                        <div class="widget-header">
                            <h5 class="widget-title">Opciones de registro</h5>
                        </div>
                        <div class="widget-body">
                            {% set codigo = (patron)?(['value="', patron.codigo,'"']|join) :'value=""'  %}
                            <input type="hidden" name="codPatron" id="codPatron" {{codigo|raw}}/>
                            <div class="widget-main">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="well">{{patron.descripcion}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 control-label">
                                            <span class="label label-important">Parametro:</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span></span>
                                            <select id="IdParametro" name="IdParametro" class="{required:true} form-control">
                                                {% if listParametros %}
                                                    <option value=""></option>
                                                    {%for parametros in listParametros%}
                                                        <option value="{{parametros.id}}" >{{parametros.nombre}}</option>
                                                    {%endfor%}
                                                {% else %}
                                                    <option value=""></option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 control-label">
                                            <span class="label label-important">Unidad:</span>
                                        </div>
                                        <div class="col-sm-5">
                                            <span></span>
                                            <select id="IdUnidad" name="IdUnidad" class="{required:true} form-control" >
                                                {% if listUnidad %}
                                                    <option value=""></option>
                                                    {%for unidades in listUnidad %}
                                                        <option value="{{unidades.id}}" >{{unidades.nombre}}</option>
                                                    {%endfor%}
                                                {% else %}
                                                    <option value=""></option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>  
                                    <div class="form-group">
                                        <div class="col-sm-4 control-label">
                                            <span class="label label-important">Incertidumbre(Up):</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span></span>
                                            <input type="text" id="Up" name="Up" placeholder="Up" maxlength="8" class="{required:true} form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 control-label">
                                            <span class="label label-important">Resolucion:</span>
                                        </div>
                                        <div class="col-sm-5">
                                            <span></span>
                                            <input type="text" id="Resolucion" name="Resolucion" placeholder="Resolucion" class="{required:true} form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 control-label">
                                            <span class="label label-important">Tolerancia:</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input type="number" id="Tolerancia" min="1" name="Tolerancia" placeholder="Tolerancia" class="{required:true} form-control"/>
                                                <span class="input-group-addon" style="padding: 3px 12px;">
                                                    <div class="radio">
                                                        <label><input type="radio" name="unidTol" id="unidTol" value="%" checked>Por</label>
                                                        <label><input type="radio" name="unidTol" id="unidTol" value="Unid">Uni</label>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <div class="col-sm-4 control-label">
                                            <span class="label label-primary">Prueba:</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span></span>
                                            <select id="CodPrueba" name="CodPrueba" class="{required:true} form-control">
                                                {% if listPruebas %}
                                                    <option value=""> - Seleccione Una-</option>
                                                    {%for pruebas in listPruebas %}
                                                        <option value="{{pruebas.id}}" >{{pruebas.nombre}}</option>
                                                    {%endfor%}
                                                {% else %}
                                                    <option value=""></option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div> 
                                </div>      
                            </div>
                            <div class="widget-toolbox padding-8 clearfix">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button type="submit" class="btn btn-success">Cargar</button>
                                        <button id="btnVolver" type="button" class="btn btn-default">Volver</button> 
                                    </div>
                                </div>
                                <img id="AccionLoad" class="hide" src="{{'template/images/loaders/bar120.gif'|baseUrl}}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-xs-12 col-sm-7 widget-container-col">
                <div class="widget-box widget-color-green2">
                    <div class="widget-header">
                        <h5 class="widget-title">Parametros del patron</h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <table id="listaParametros" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Parametro</th>
                                        <th>Unidad</th> 
                                        <th>Resolucuon.</th>
                                        <th>Incertidumbre(Eu)</th>    
                                        <th>Tolerancia.</th>
                                        <th>Op.</th>
                                    </tr>    
                                </thead>
                                <tbody>
                                    {%if parametrosAsign %}
                                        {%for asign in parametrosAsign %}
                                            <tr>
                                                <td>{{asign.parametro}}</td>
                                                <td>{{asign.unidad}}</td> 
                                                <td>{{asign.resolucion}}</td>
                                                <td>{{asign.incertidumbre}}</td>    
                                                <td>{{asign.valor_tolerancia}} {{asign.unidad_tolerancia}}</td>
                                                <td><button type="button" class="btn btn-minier btn-danger btnDeleteParam" data="{{asign.id}}"><i class="fa fa-minus"></i></button></td>
                                            </tr>  
                                        {%endfor%}
                                    {%endif%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modalDetele" style="display: none;" title="Desvincular Parametro">
                <i class="fa fa-exclamation-circle"></i>Esta Seguro que desea eliminar este parametro de este equipo
            </div>
        </div>
    </div><!-- /.page-content -->
{% endblock %}
{% block js_custom %}
    <!-- Select2 --> 
    <script type="text/javascript" src="{{ 'plugins/select2/select2.min.js'|baseUrl}}"></script>
    <!-- Validate --> 
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/dist/jquery.validate.min.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/lib/jquery.metadata.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/localization/messages_es.js'|baseUrl}}"></script> 
    <!-- DataTables -->
    <script type="text/javascript" src="{{'template/jquery/jquery.dataTables.min.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{'template/jquery/jquery.dataTables.bootstrap.min.js'|baseUrl}}"></script>
    <!-- Numeric -->
    <script type="text/javascript" src="{{'template/jquery/jquery.numeric.js'|baseUrl}}"></script>
    <!-- Custom -->
    <script type="text/javascript" src="{{'application/scripts/patrones/params.js'|baseUrl}}"></script>
{% endblock %}