{% extends "pageMaster.twig" %}
{% block style_plugin %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{'plugins/select2/select2.min.css'|baseUrl}}">
{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="row">
            <form  id="crearcliente" method="POST" name="crearcliente">
                <div id="datos" ></div>
                <div class="col-xs-12 col-sm-9 widget-container-col">
                    <div class="widget-box widget-color-blue2">
                        <div class="widget-header">
                            <h5 class="widget-title">Clientes Calibraciones</h5>
                            <div class="widget-toolbar no-border">
                                <a href="#" id="limpiar" onclick="location.reload()" ><i class="ace-icon fa fa-refresh"></i></a>
                            </div>
                        </div>
                        <div class="widget-body">
                            {% set codigo = (cliente)?(['value="', cliente.codigo,'"']|join) :''  %} 
                            <input type="hidden" name="Codigo" id="Codigo" {{codigo|raw}}/>
                            <div class="widget-main">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-3 control-label ">
                                            <label class="label label-important">Nit:</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <span></span>
                                            {% set nit = (cliente)?(['value="', nitCliente[0],'" readonly="true"']|join) :''  %}
                                            <input type="text" id="Nit" name="Nit" placeholder="Nit"  onkeypress="return gearsPage.SoloNumeros(event)" class="{required:true,minlength:5,maxlength:10,messages:{required:'* Favor Digite un Nit'}} form-control" {{nit|raw}} />
                                        </div>
                                        <div class="col-sm-2">
                                            <span></span>
                                            {% set digitoNit = (cliente)?(['value="', nitCliente[1],'" readonly="true"']|join) :''  %}
                                            <input type="text" id="dv" name="dv" placeholder="DV"  onkeypress="return gearsPage.SoloNumeros(event)" class="{required:true,minlength:1,messages:{required:'* DV'}} form-control" {{digitoNit|raw}} maxlength="1"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 control-label">
                                            <span class="label label-primary">Nombre:</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span></span>
                                            <textarea type="text" id="Nombre" name="Nombre" placeholder="Nombre" onkeyup="this.value = this.value.toUpperCase()" style="resize: none;" class="{required:true,minlength:5,messages:{required:'* Favor digite un Nombre'}} form-control"/>{{cliente?cliente.nombre:''}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 control-label">
                                            <span class="label label-primary">Departamento:</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <select id="departamento" class="form-control">
                                                {% if listaDepartamentos %}
                                                    <option value=""></option>
                                                    {%for departamentos in listaDepartamentos%}
                                                        {% set depart = (cliente and cliente.cod_departamento==departamentos.codigo)?'selected="selected"':'' %}
                                                        <option value="{{departamentos.codigo}}" {{depart}} >{{departamentos.nombre}}</option>
                                                    {%endfor%}
                                                {% else %}
                                                    <option value=""></option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 control-label">
                                            <span class="label label-primary">Ciudad:</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <span></span>
                                            <select id="ciudad" name="ciudad" class="{required:true} form-control">
                                                {% if listaCiudad %}
                                                    <option value=""></option>
                                                    {%for ciudades in listaCiudad%}
                                                        {% set ciudad = (cliente and cliente.id_ciudad==ciudades.codigo)?'selected="selected"':'' %}
                                                        <option value="{{ciudades.codigo}}" {{ciudad}} >{{ciudades.nombre}}</option>
                                                    {%endfor%}
                                                {% else %}
                                                    <option value=""></option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 control-label">
                                            <span class="label label-primary">Direccion:</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span></span>
                                            <textarea id="Direccion" name="Direccion" class="{required:true,minlength:5,maxlength:100} form-control" maxlength="100" rows="2" style="resize: none" placeholder="Direcccion Rut">{{cliente?cliente.direccion:''}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 control-label">
                                            <span class="label label-primary">Telefono:</span>
                                        </div>
                                        <div class="col-sm-5">
                                            <span></span>
                                            {% set telefono = (cliente)?(['value="', cliente.telefono ,'"']|join) :''  %}
                                            <input type="text" id="Telefono" name="Telefono" placeholder="Telefono" class="{required:true,minlength:7,messages:{required:'* Favor digite No. Telefono'}} form-control" {{telefono|raw}}/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 control-label">
                                            <label class="label label-important">Empresa:</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <span></span>
                                            <select id="CodEmpresa" name="CodEmpresa" class="{required:true} form-control" {{cliente?'disabled="disabled"':''}}>
                                                {% if selectEmpresa %}
                                                    <option value=""> - Selecione una -</option>
                                                    {%for empresas in selectEmpresa%}
                                                        {% set empresa = (cliente and cliente.id_empresa==empresas.codigo)?'selected="selected"':'' %}
                                                        <option value="{{empresas.codigo}}" {{empresa}} >{{empresas.nombre}}</option>
                                                    {%endfor%}
                                                {% else %}
                                                    <option value=""> No hay datos!</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-toolbox padding-8 clearfix">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button type="submit" class="btn btn-success">Guardar</button>
                                        <button id="btnVolver" type="button" class="btn btn-default">Volver</button> 
                                    </div>
                                </div>

                                <img id="AccionLoad" class="hide" src="{{'template/loaders/bar120.gif'|baseUrl}}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.page-content -->
{% endblock %}
{% block js_custom %}
    <!-- Select2 -->
    <script type="text/javascript" src="{{'plugins/select2/select2.min.js'|baseUrl}}"></script>
    <!-- Validate --> 
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/dist/jquery.validate.min.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/lib/jquery.metadata.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{ 'plugins/jquery-validate/localization/messages_es.js'|baseUrl}}"></script> 
    <!-- Custom -->
    <script type="text/javascript" src="{{'application/scripts/clientes/form.js'|baseUrl}}"></script>
{% endblock %}