{% extends "pageMaster.twig" %}
{% block style_plugin %}

{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="row">
            <div id="datosInfo"></div>
            <div class=" col-xs-12 col-sm-8">
                <div class="info-box">
                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text"><b>Equipos para calibrar</b></span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                           Aqui se muentran los tipos de equipos disponibles para calibracion y se administran sus parametros a calibrar
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-xs-12 col-sm-8 widget-container-col">
                <div class="widget-box widget-color-green2">
                    <div class="widget-header">
                        <h5 class="widget-title">EQUIPOS PARA CALIBRAR</h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="pull-left">
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">
                                            TIPOS <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-success">  
                                            <li><a id="Agregar" ><i class="fa fa-plus"></i> Agregar </a></li>
                                            <li><a id="Actualizar"><i class="fa fa-edit"></i> Actualizar</a></li>  
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false">
                                            MAS + <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-success">  
                                            <li><a id="Parametros" ><i class="fa fa-database"></i> Parametros </a></li>
                                            <li><a id="Unidades"><i class="fa fa-level-up"></i> Unidades </a></li>  
                                        </ul>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="btn-group mr10">
                                        <button class="btn btn-white btn-info btn-sm" id="Info" type="button"><i class="fa fa-info"></i></button>  
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table id="listaTipos" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Parametros</th>
                                        </tr>
                                    </thead> 
                                    <tbody>
                                        {%if listTipos %}
                                            {%for tipos in listTipos%}
                                                <tr>
                                                    <td><span data="{{tipos.id}}">{{tipos.id}}</span></td>
                                                    <td>{{tipos.nombre}}</td>
                                                    <td>{{tipos.cantidad}}</td>
                                                </tr>
                                            {%endfor%}
                                        {%endif%}
                                    </tbody>
                                </table>
                            </div>
                            <div id="infoModal1" style="display: none;background-color: rgba(255, 255, 255, 0.219608);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.page-content -->
{% endblock %}
{# <img id="AccionLoad" class="hide" src="{{'template/loaders/bar120.gif'|baseUrl}}">  #}
{% block js_custom %}
    <!-- DataTables -->
    <script type="text/javascript" src="{{'template/jquery/jquery.dataTables.min.js'|baseUrl}}"></script>
    <script type="text/javascript" src="{{'template/jquery/jquery.dataTables.bootstrap.min.js'|baseUrl}}"></script>
    <!-- Custom -->
    <script type="text/javascript" src="{{'application/scripts/parametros/equipos.js'|baseUrl}}"></script>
{% endblock %}